html {
    background-color: #D7AD67;
    z-index: 0;
}

header {
    background-color: #790000;
    width: auto;
    font-family: Georgia, serif;
    font-size: 24px;
    color: #FFFFFF;
    height: 69px;
    overflow: hidden;
}

.designs{
    font-size: 40px;
}

header p {
    /*margin: 16.5px 0;*/
    font-family: 'Bad Script', cursive;
}

p {
    margin-bottom: 0.5em;
}

nav {
    background-color: #E5CA9C;
    margin: 0;
    color: #fff;
    padding: 10px;
}

nav ul {
    margin: 0 10px;
    padding: 0;
    list-style: none;
}

nav ul li a {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border: solid #979797;
    border-width: 0 1px 0 0;
    color: #979797;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

nav ul li {
    margin-bottom: 0;
}

nav ul li .active {
    color: #FFFFFF;
}

body {
    overflow-y: visible;
    height: auto;
}

main {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

footer {
    color: #FFFFFF;
    background-color: black;
    font-size: 11px;
    padding: 20px;
    border-top: 1px solid #979797;
}

footer p {
    margin: 0;
}

a {
    color: #F7941D;
}

.viewPort {
    background-color: #FFFFFF;
    /*page text*/
    color: #252525;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    padding: 10px;
}

.copyright {
    color: #666666;
}

.titleText {
    color: #930;
    font-family: verdana, geneva, sans-serif;
    font-size: 18px;
}

.emailForm {
    font-weight: bold;
}

.emailForm ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.emailForm ul li {
    font-weight: bold;
    list-style: none;
    margin-bottom: 1em;
    margin-left: 1em;
}

.emailForm ul input {
    margin-left: 2em;
    margin-bottom: 1em;
}

.emailForm ul li em {
    left: -1em;
    top: -3px;
    font-weight: bold;
    font-size: 1.6em;
    width: .8em;
    font-style: normal;
    text-align: center;
}

figure {
    float: right;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

figure img {
    width: 100%;
}

/*used for centering an image, the containing div must have center, and margins auto*/
.center {
    text-align: center;
}

/*used for centering an image, the containing div must have center, and margins auto*/
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.italic {
    font-style: italic;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu-toggle__layer {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
}

.menu-toggle__layer + .menu-toggle__layer {
    margin-top: 6px;
}

.routeName {
    color: #b66263;
    margin-right: 4%;
    margin-top: 16.5px;
}

input:disabled {
    background: #dddddd;
}

button:disabled {
    background: #dddddd;
}

.spinner {
    padding: 10px 0 0 10px;
}

@media screen and (max-width: 830px) {
    nav {
        display: none;
        width: 300px;
    }
    
    .in {
        display: block;
    }
    
    nav ul li a {
        float: none;
        border-width: 0 0 1px 0;
    }
    
    .menu-toggle {
        display: block;
        margin: 16.5px 0;
        width: 5%;
    }
    
    .routeName {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    header p {
        width: 50% !important; 
        font-size: medium !important;
        padding-top: 5px;
        margin-top: 16.5px;
    }

    .designs {
        font-size: 16px;
    }
}