html
{
    background-color: #D7AD67;
    z-index: 0;
}

header 
{
    background-color: #790000;
    width: auto;
    font-family: Georgia, serif;
    font-size: 24px;
    color: #FFFFFF;
    height: 69px;
}

header > div {
    margin:20px;
}

.row div 
{
    margin-bottom: 1em;
}

nav 
{
    background-color: #E5CA9C;
}

nav li .active {
    color: #FFFFFF;
}

.body {
    overflow-y: visible;
}

main
{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

#footer
{
    color: #FFFFFF;
    background-color: black;
    bottom: 0px;
    font-size:11px;
    margin: - auto auto 0;
    padding: 20px;
    border-top: 1px solid #979797;
}

a
{
    color: #F7941D;
}

.viewPort
{
    background-color:#FFFFFF;
    /*page text*/
    color:#252525;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    padding-bottom: 10px;
}

.copyright
{
    color:#666666;
}

.titleText
{
    color: #930;
    font-family: verdana, geneva;
    font-size: 18px;
}

.emailForm
{
    font-weight:bold;    
}

.emailForm ul
{
    list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.emailForm ul li
{
    font-weight:bold;
    list-style:none;
    margin-bottom: 1em;
    margin-left: 1em;
}

.emailForm ul input
{
    margin-left:2em;
    margin-bottom: 1em;
}

.emailForm ul li em
{
    left: -1em;
    top: -3px;
    font-weight: bold;
    font-size: 1.6em;
    width: .8em;
    font-style: normal;
    text-align: center;
}

#message{
    height:90px;
    width:300px;
}

figure {
  float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

figure img {
  width: 100%;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}