<div ng-controller="AboutCtrl">
        <div class="row">
            <div class="c6 titleText">About Reetsie</div>
            <div class="c6"></div>
        </div>
        <div class="row">
            <div class="c6">
                    <div>Marguerite “Reetsie” Fuller is a self taught artist and professional equine trainer who has always been enthralled by the beauty she sees around her in nature.</div>
                    <div>Having lived in the Pacific Northwest most of her life, she is an avid outdoors person.  She has an uncanny ability to produce accurate representations of her observations in a variety of media.  Her current interests include Native American stories and myths, and conventional as well as unique views of nature in its purest forms. Reetsie has photographed and observed birds, animals and other wildlife along the Columbia, Willamette, and Snake rivers.  As a result, she has a collection of wildlife greeting cards that primarily project the raw beauty of wild animals of the region.</div>
                    <div>For the past several years she has been experimenting with gourd art in the presentation of her work.  Her pieces include wildlife, domesticated animals, Native American cultural pieces, Southwestern themes, flora and a variety of other idiosyncratic pieces as the “mood” strikes her.</div>
                    <div>She has entered and won first place, best of show and “judges’ choice” in juried art shows in California, Oregon and Arizona.  Some of her work is currently on display in galleries in the Pacific Northwest and California.</div>
                    <div>Reetsie is available to do almost any desired project on a commissioned basis.</div>
                </div>
            <div class="c6">
                <img src="../img/ReetsieProfileonMisty.jpg" />
                <div class="titleText">Contact Reetsie</div>
                <div>Reetsie welcomes all inquiries regarding her gourd artwork. Find out how you can purchase select pieces or commissioned work directly, or view her artwork at local galleries.</div>
                <div class="c6"><a href="#/Contact">Contact Reetsie for more information.</a></div>
            </div>
        </div>
</div>