<div>
    <div class="row">
        <div class="c7">
            <div class="titleText">Gourds by Reetsie</div>
            <div>Reetsie's works of art come in variety of styles, shapes and sizes. Here is a sampling of her work. If you'd like to purchase artwork from Reetsie, please <a href="#/Contact">contact her.</a></div>
            <div>Click on the photos below to view full size image.</div>
            <div ng-repeat="image in images">
                <figure class="c2">
                    <a href="{{image.link}}"><img  src="{{image.link}}" alt="{{image.title}}"></img></a>
                    <figcaption>{{image.description.trim()}}</figcaption>
                </figure>
            </div>
        </div>
        <div class="c5">
            <div class="titleText">Award Winning Artwork</div>
            <div><center><img src="../img/ReetsieWinningGourd.jpg"></center></div>
            <div>Reetsie's gourd artwork has achieved many awards over the past few years, including multiple first places, best of shows, judges choice awards, and fine arts awards:</div>
        </div>
    </div>
</div>