<div class="row">
    <div class="seven columns">
        <p class="titleText">Gourds by Reetsie</p>
        <p>Reetsie's works of art come in variety of styles, shapes and sizes.</p>
        <p>Here is a sampling of her work. If you'd like to purchase artwork from Reetsie, please <a
                href="#/Contact">contact her.</a></p>
        <p>Click on the photos below to view full size image.</p>
        <p>
            <figure class="three columns" ng-repeat="image in images">
                <a href="{{image.link}}">
                    <img ng-src="{{image.link}}" alt="{{image.title}}" />
                </a>
                <figcaption>{{image.description.trim()}}</figcaption>
            </figure>
    </div>
    <div class="five columns">
        <p class="titleText">Award Winning Artwork</p>
        <div class="center"><img class="margin-auto" src="../img/ReetsieWinningGourd.jpg"></div>
        <p>Reetsie's gourd artwork has achieved many awards over the past few years, including
            multiple first places, best of shows, judges choice awards, and fine arts awards:</p>
        <p><b>Best of Division</b>, FINE ARTS DIVISION, 2014 Oregon State Fair, Salem, Oregon</p>
        <p><b>Best of Division</b>, HOBBY AND COLLECTIBLES Division, 2014 Oregon State Fair, Salem,
            Oregon</p>
        <p><b>First Place and Best of Division</b>, MASTER'S DIVISION, 2011 Northwest Gourd
            Festival, Moses Lake, Washington</p>
        <p><b>First Place</b>, FINE ARTS DIVISION, 2011 Riverside Fair, Riverside, California</p>
        <p><b>Judges Choice and Best of Show</b>, FINE ARTS DIVISION, 2010 Riverside Fair,
            Riverside, California</p>
        <p><b>First Place, Best of Division and Best of Show</b> at 2010 Northwest Gourd Festival,
            Moses Lake, Washington</p>
        <p><b>Supervisors Award</b>, FINE ARTS DIVISION, 2008 Riverside Fair, Riverside, California
        </p>
        <p><b>First, Best of Class and Special Award</b>, WOODBURNING, 2009 Oregon State Fair,
            Salem, Oregon</p>
        <p><b>First</b>, 2009 Wuertz Gourd Festival</p>
        <p><b>First and Judges Choice</b>, FINE ARTS DIVISION, 2009 Yamhill County Fair, Yamhill,
            Oregon</p>
        <p><b>First and Best of Show</b>, MADE FROM NATURE DIVISION, 2009 Yamhill County Fair,
            Yamhill, Oregon</p>
        <p><b>First and Best of Show</b>, WOODBURNED DIVISION, 2009 Yamhill County Fair, Yamhill,
            Oregon</p>
    </div>
</div>
