<div class="row">
    <div class="six columns">
        <div class="titleText">Galleries</div>
        <p>Reetsie's designs are on display and available for purchase at various art galleries in the Pacific Northwest and California. Please contact Reetsie for more information.</p>
        <hr>
        <p class="titleText">Gourds for Sale</p>
        <p>If you are interested in purchasing gourd art directly or would like to inquire about commissioned pieces, please contact Reetsie directly.</p>
        <hr>
        <p class="titleText">Purchasing Gourds</p>
        <p>Reetsie accepts PayPal when purchasing her gourds. Once you've agreed to a purchase price and shipping costs, you may go to this link, enter her email address (<a class="email" href="mailto:TWNMEADOW@aol.com">twnmeadow@aol.com</a>), and follow the directions.</p>
        <hr>
    </div>
    <div class="six columns">
        <p>Reetsie welcomes inquiries regarding gourds for sale, commissioned artwork, and questions regarding her work.</p>
        <form name="emailForm" class="emailForm" method="post" ng-submit="submit()" novalidate>
            <ul>
                <li><div><em>*</em>First Name:</div></li>
                <input type="text" ng-model="emailForm.fname" required>
                
                <li><em>*</em>Last Name:</li>
                <input type="text" ng-model="emailForm.lname" required>
                
                <li><em>*</em>Email:</li>
                <input type="email" ng-model="emailForm.emailAddress" required>

                <li><div>Best Phone Number to Reach You (Please include area code):</div></li>
                <input type="text" ng-model="emailForm.phone">
                
                <li><div><b>Are you interested in purchasing a gourd, commissioned artwork, or have a general inquiry?</b></div></li>
                <input id="message" type="text" ng-model="emailForm.message" height="90px">
                
                <li><div><b>Submit Your Message:</b></div></li>
                <li><button type="submit" value="submit">Submit!</button></li>
            </ul>
        </form>
    </div>
</div>
