<div class="row">
    <div class="six columns">
        <div class="titleText">Galleries</div>
        <p>Reetsie's designs are on display and available for purchase at various art galleries in
            the Pacific Northwest and California. Please contact Reetsie for more information.</p>
        <hr>
        <p class="titleText">Gourds for Sale</p>
        <p>If you are interested in purchasing gourd art directly or would like to inquire about
            commissioned pieces, please contact Reetsie directly.</p>
        <hr>
        <p class="titleText">Purchasing Gourds</p>
        <p>Reetsie accepts PayPal when purchasing her gourds. Once you've agreed to a purchase price
            and shipping costs, you may go to this link, enter her email address (<a class="email"
                                                                                     href="mailto:TWNMEADOW@aol.com">twnmeadow@aol.com</a>),
            and follow the directions.</p>
        <hr>
    </div>
    <div class="six columns">
        <p>Reetsie welcomes inquiries regarding gourds for sale, commissioned artwork, and questions
            regarding her work.</p>
        <form name="contact" netlify>
            <p>
                <label>Name <input type="text" name="name" /></label>
            </p>
            <p>
                <label>Email <input type="email" name="email" /></label>
            </p>
            <p>
                <button type="submit">Send</button>
            </p>
        </form>
    </div>
</div>
