<div>
    <div class="row">
        <div class="c6">
            <div class="titleText">Galleries</div>
            <div>Reetsie's designs are on display and available for purchase at various art galleries in the Pacific Northwest and California. Please contact Reetsie for more information.</div>
            <hr>
            <div class="titleText">Gourds for Sale</div>
            <div>If you are interested in purchasing gourd art directly or would like to inquire about commissioned pieces, please contact Reetsie directly.</div>
            <hr>
            <div class="titleText">Purchasing Gourds</div>
            <div>Reetsie accepts PayPal when purchasing her gourds. Once you've agreed to a purchase price and shipping costs, you may go to this link, enter her email address (<a class="email" href="mailto:TWNMEADOW@aol.com">twnmeadow@aol.com</a>), and follow the directions.</div>
            <hr>
        </div>
        <div class="c6">
            <div>Reetsie welcomes inquiries regarding gourds for sale, commissioned artwork, and questions regarding her work.</div>
            <form name="emailForm" class="c6 emailForm" method="post" novalidate ng-controller="ContactController">
                <ul>
                    <li><div><em>*</em>First Name:</div></li>
                    <input type="text" name="fname" ng-model="fname" required>
                    <li><em>*</em>Last Name:</li>
                    <input type="text" name="lname" ng-model="lname" required>
                    <li><em>*</em>Email:</li>
                    <input type="email" name="input" ng-model="emailAddress" required>

                    <li><div>Best Phone Number to Reach You (Please include area code):</div></li>
                    <input type="text" name="phone" ng-model="phone">
                    <li><div style="font-weight:bold">Are you interested in purchasing a gourd, commissioned artwork, or have a general inquiry?</div></li>
                    <input id="message" type="text" name="question" ng-model="message" height="90px">
                    <li><div style="font-weight:bold">Submit Your Message:</div></li>
                    <!--<li><input type="submit" id="submit" value="Submit" /></li>-->
                    <li><button type="submit" ng-click="submit()">Submit!</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>