<form name="contact" class="emailForm" method="post" action="?" data-netlify="true" netlify>
    <ul>
        <li><em>*</em>First Name:</li>
        <input type="text" name="fname" required>

        <li><em>*</em>Last Name:</li>
        <input type="text" name="lname" required>

        <li><em>*</em>Email:</li>
        <input type="email" name="emailAddress" required>

        <li>Best Phone Number to Reach You (Please include area code):</li>
        <input type="text" name="phone">

        <li>
            <b>
                Are you interested in purchasing a gourd, commissioned artwork, or have a general
                inquiry?
            </b>
        </li>
        <input type="text" name="message" height="90px">

        <li><b>Submit Your Message:</b></li>
        <li class="row">
            <button class="submitButton" type="submit" value="submit">Submit!</button>
        </li>
    </ul>
</form>
