<div>
    <div class="row">
        <div class="c6">
            <div class="c6"><iframe width="428" height="360" src="//www.youtube.com/embed/X_7I35SMbCw?feature=player_embedded" frameborder="0" allowfullscreen></iframe></div>
            <div class="c6 titleText">New Gourd Art</div>
            <div class="c6">N.W. Icons and Fantasy 2 are two of Reetsie's most recent pieces.</div>
            <div class="c6"><a href="#/Awards">View more Award Winning Gourds.</a></div>
        </div>
        <div class="c6">
            <div class="titleText">Award Winning Artwork</div>
            <div class="row">
                <div class="c4">Marguerite “Reetsie” Fuller is a self taught artist and professional equine trainer who has always been enthralled by the beauty she sees around her in nature.</div>    
                <div class="c2"><img src="img/ReetsieProfileHead.jpg"></div>
            </div>
            <div class="row">
                <div class="c6">Her pieces include wildlife, domesticated animals, Native American cultural pieces, Southwestern themes, flora and a variety of other idiosyncratic pieces as the “mood” strikes her.</div>
                <div class="c6"><a href="#/About">Learn more about Reetsie</a></div>
                <hr>
                <div class="c6 titleText">Reetsie's Gourd Art</div>
                <div class="c6">View a sampling of Reetsie's fine art and learn more about her <a href="#/Awards">Award Winning Gourds.</a></div>
            </div>
        </div>
    </div>
</div>